node_modules

node_modules/**

.next

packages/**/.next

yarn.lock

package-lock.json

packages/**/node_modules

packages/**/.env

packages/**/log.txt

packages/**/dist
dist

packages/**/build
build
.env

packages/**/.next
packages/**/.env

packages/**/yarn.lock

packages/**/package-lock.json

log.txt